* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 50px;
  font-weight: bold;
  line-height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  height: 90px;
  width: 90px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
}
.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  gap: 50px;
}

.game-board{
  text-align: center;
}

.game-info {
  display: flex;
  flex-direction: column;
}
